<h1>SlideFix</h1>
<select>
<option selected disabled>Theme</option>
 <option value="volvo">Web 2.0</option>
 <option value="saab">Green Grass</option>
 <option value="mercedes">Aqua Blue</option>
 <option value="audi">Butterflies</option>
</select>
<br>
<select>
<option selected disabled>Animation</option>
 <option value="volvo">Fly In</option>
 <option value="saab">Fly Out</option>
 <option value="mercedes">Scoot</option>
</select>
<br>
<textarea [(ngModel)]="markdowncontent" placeholder="Markdown goes here"></textarea>
<textarea placeholder="Rendered slide appears here">{{markdowncontent}}</textarea>
<br>
<button>Remove Slide</button>
<button>Add Slide</button>
<button>Download Deck</button>
<h4>Navigate</h4>
<p><- -> arrows to browse</p>
